[project]
name = "broken-microphone"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "aiohttp>=3.13.2",
    "discord>=2.3.2",
    "yt-dlp>=2025.11.12",
]
